name: Build, Push and Deploy Node.js app

# Controls when the action will run.
on:
  # Triggers the workflow on push events but only for the master branch
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  REPO: dohoangdinhtien/nodejs-deploy/nodejs-image
  CONTAINER: nodejs-image

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: blackwhite152/demo
      
      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

#       - name: Push to GitHub Packages
#         uses: docker/build-push-action@v2
#         with:
#           username: ${{ github.actor }}
#           password: ${{ secrets.SSH_GITHUB_TOKEN }}
#           registry: ${{ env.REGISTRY }}
#           repository: ${{ env.REPO }}
#           tag_with_ref: true
  deploy:
    needs: [push_to_registry]
    name: Deploy to Contabo Server
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH connection
        uses: webfactory/ssh-agent@v0.5.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
        
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
          script: |
            whoami
            docker pull blackwhite152/demo:main

#       - name: Login to the GitHub Packages Docker Registry
#         run: |
#           echo ${{secrets.SSH_GITHUB_TOKEN}}
#           ssh ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}} "docker login ${{env.REGISTRY}} -u ${{github.actor}} -p ${{secrets.SSH_GITHUB_TOKEN}}"

#       - name: Log in to Docker Hub
#         uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_TOKEN }}

#       - name: Login to the Docker Hub Registry
#         run: ssh ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}} "docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin ${{ secrets.DOCKER_TOKEN }}"

#       - name: Pull latest container
#         run: |
#             docker pull blackwhite152/demo:main
#         run: |
#           ssh ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}} "docker pull blackwhite152/demo:main"
          
#       - name: Stop deployed container
#         continue-on-error: true
#         run: |
#            docker stop ${{env.CONTAINER}}
#          ssh ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}} "docker stop ${{env.CONTAINER}}"
          
#       - name: Remove deployed container
#         continue-on-error: true
#         run: |
#           docker rm ${{env.CONTAINER}}
#          ssh ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}} "docker rm ${{env.CONTAINER}}"
          
#       - name: Start docker container
#         run: |
#           docker run -p 8080:8080 -d --name=${{env.CONTAINER}} blackwhite152/demo:main
#          ssh ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}} "docker run -p 8080:8080 -d --name=${{env.CONTAINER}} blackwhite152/demo:main"
      
#       - name: Logout from the GitHub Packages Docker Registry
#         run: ssh ${{secrets.SSH_USER}}@${{secrets.SSH_HOST}} "docker logout ${{env.REGISTRY}}"
